@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ECF2FE !important;
}

body #nvb {
  background-color: #fff !important;
}

@media (min-width : 992px) {
  .offcanvas {
    visibility      : visible;
    position        : relative;
    background      : none;
    border          : none;
    justify-content : end;
  }
}

@media (max-width : 992px) {
  .offcanvas {
    width : 250px !important;
  }

  .offcanvas-start-lg {
    top          : 0;
    left         : 0;
    border-right : 1px solid rgba(0, 0, 0, .2);
    transform    : translateX(-100%);
  }

}

.text-himsifor {
  position: relative;
  font-size: 14vw;
  -webkit-text-stroke: 1px #ffffffb4;
  color: transparent !important;
}

.text-himsifor::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #FFF;
  overflow: hidden;
  animation: animate 6s linear infinite;
  white-space: nowrap;
}

@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.jumbotron {
  width: 100%;
}

.jumbotron h1 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
}

.jumbotron p {
  opacity: 80%;
  font-size: 15px;
  margin: 0px 20px 0px 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 20px;

}

.jumbotron .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .gif {
  opacity: 80% !important;
  background-image: linear-gradient(360deg, #002157 0%, rgba(217, 217, 217, 0) 100%),
    url('./../Assets/gif2.gif');
  width: 100% !important;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}


.jumbotron .logo .logo-himsifor {
  width: 60px;
  height: 60px;
  margin: 214px 25px 25px 0px;
}

.jumbotron .logo .logo-fmipa {
  width: 58px;
  height: 58px;
  margin-right: 25px;
  margin-top: 214px;
  margin: 214px 25px 25px 0px;
}

.jumbotron .logo .logo-unsrat {
  width: 58px;
  height: 58px;
  margin: 214px 25px 25px 0px;
}

.button-exp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17vh;
}


.exp {
  font-size: 18px !important;
  height: 56px;
  width: 159px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 27px;
  background: #FF7F00;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.exp:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #002157;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.exp:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.exp span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 18px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  /* letter-spacing: 0.3em; */
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.exp:hover span {
  color: #FFF;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


.cari {
  border: 1px solid #002157 !important;
}

.cari:hover {
  background-color: #FF7F00 !important;
  color: #fff !important;
  border: none !important;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
  margin: 0px 15px 0px 0px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #183153;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.moon svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.sun svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}


@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.sun svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

.apaituhimsi {
  background-color: #002157;
  max-width: 1011px;
  border-radius: 15px;
  gap: 21;
  box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .gambar {
  background-image: url(./../Assets/image7.png);
} */

.container .himsifor-apaitu {
  height: 183px;
  width: 183px;
  margin-left: 20px;
}

.a-himsi {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32.8206px;
  line-height: 42px;
  color: #FF7F00;
  margin-top: 50px;
  margin-left: 30px;
}

.p-himsi {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12.534px;
  text-align: justify;
  color: #FFFFFF;
  margin-right: 30px;
  margin-left: 30px;
}

.apaitu {
  margin-bottom: 60px;
}

.more {
  width: 130px;
  margin: 0px 0px 10px 0px;
  margin-left: 30px;
  background-color: #FF8C1A;
  border: 3px solid #FF8C1A;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  position: absolute;
  cursor: pointer;
}

.visi-misi {
  font-style: normal;
  font-weight: 700;
  font-size: 32.8206px;
  line-height: 42px;
  color: #FF7F00;
}

.paragraf-v {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: justify;
  color: #000000;
}

.paragraf-m {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.025em;
  color: #000000;
  text-align: justify;
  background-color: transparent !important;
}

.div-dept {
  margin-top: 20px;
}

.departement {
  margin-top: 50px;
  margin-bottom: 20px;
}

.title-dept {
  width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #002157;
}


.bulat_biru {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #002157;
  border-radius: 37px;
}

.bulat_orange {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FF7F00;
  border-radius: 37px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}

.dept-div {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: pointer;
}

.dept-div:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.dept-name {
  text-decoration: none !important;
  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
  margin: 10px 0px 0px 64px;
}

.text-dept {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  margin-left: 65px;
  color: #666666;
}

.judul-content {
  width: 100%;
  height: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 92px;
  text-align: center;
  color: #011F6D;
}

.gmbrr {
  width: 100%;
  height: auto;
  left: 78px;
  top: 290px;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.15));
  border-radius: 72px;
}

.gmbrr:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.hima-foto {
  width: 93%;
  height: 354px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
  border-radius: 41px;
  position: absolute;
}

.hima-logo-dark {
  position: absolute;
  opacity: 0;
}

.data {
  width: 97%;
  background-color: #002157;
  box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.15);
  border-radius: 43px;
}

.data2 {
  display: flex;
  margin-top: 33vh;
  line-height: 120%;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 100px;
}

.data-jumlah {
  font-weight: 500;
  font-size: 58px;
  text-align: center;
  color: #FFFFFF;
}

.data-nama {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #979797;
}

.video {
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  color: #011F6D;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-weight: 500;
  font-size: 17.5711px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}


@media (max-width: 846px) {
  .judul-content {
    font-size: 30px;
    line-height: 100%;
  }

  .title-dept {
    font-size: 30px;
  }

  .video {
    font-size: 20px;

  }
}

@media (max-width: 767px) {
  .video {
    font-size: 20px;
  }

  .gmbrr {
    border-radius: 10px;
  }

  .temukann {
    margin-top: 40px !important;
  }

  .mdsos {
    padding: 0px !important;
  }
}

#logo-himpunan {
  margin-bottom: 30px;
}

#logo-himpunan h2.logo-himpunan-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 92px;
  text-align: center;
  color: #011F6D;
  margin-bottom: 70px;
}

#logo-himpunan .lh-container {
  position: relative;
}

#logo-himpunan .lh-container .lh-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-himpunan .lh-container .lh-logo img {
  width: 450px;
  height: 450px;
}

#logo-himpunan .lh-box {
  background-color: #fff;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  max-width: 390px;
}

#logo-himpunan .lh-box .number h6 {
  padding: 5px 8px;
  background-color: #FF7F00;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17.8116px;
  line-height: 27px;
  color: #fff;
  display: inline;
}

#logo-himpunan .lh-box .text {
  /* margin: 0 39px; */
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14.413px;
  line-height: 22px;
  margin-top: 39px;
  margin-bottom: 40px;
}

#logo-himpunan .lh-box .order {
  display: flex;
  align-items: end;
}

#logo-himpunan .lh-box .order h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 69.663px;
  color: rgba(0, 0, 0, 0.12);
}

.lh-layer1 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 280px;
  margin-bottom: 15px;
}

.lh-layer2 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 386px;
  margin-bottom: 15px;
}

.lh-layer3 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 36px;
  margin-bottom: 15px;
}

#logo-himpunan .lh-box.lh-box-1 {
  width: 340px;
}

#logo-himpunan .lh-box.lh-box-2 {
  width: 340px;
}

#logo-himpunan .lh-box.lh-box-3 {
  width: 337px;
  margin-top: -50px;
}

#logo-himpunan .lh-box.lh-box-4 {
  width: 337px;
}

#logo-himpunan .lh-box.lh-box-5 {
  margin-top: -10px;
}
/* departement */
.bg-dep{
  position: absolute;
  width: 957px;
  height: 834px;
  left: -278px;
  top: 390px;
  z-index: -1;
}

.dept1{
  width: 1298.03px;
  height: 364px;
  margin-top: 197px;
  margin-left: 71px;
  
}

.dept-p{
  display: flex;
}

.dept-p1{
  background-color: #002157;
  width: 491.11px;
  height: 287px;
  border-radius: 7px;
  text-align: center;
}

.dept-p1 img{
  width: 320px;
  margin-top: -5px;
}

.dept-p11{
  background-color: #ffffff;
  margin-top: -27px;
  text-align: left;
  padding-left: 23px;
  height: 77px;
  border-radius: 7px;
}

.dept-p11 h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17.2478px;
  line-height: 26px;
  letter-spacing: -0.015em;
  color: #000000;
  padding-top: 13px;
}

.dept-p11 h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12.9359px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: -30px;
}

.dept-p2 {
  margin-left: 34px;
}
.dept-p2  h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 75px;
letter-spacing: -0.015em;
color: #002157;
}

.dept-p2 h3 {
  width: 614px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 41px;
  letter-spacing: -0.015em;
  color: #354765;
  position: absolute;
}

.pengkaderan-img {
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
}

.humas-img {
  width: 1290px;
  height: 475px;
  left: 75px;
  top: 695px;
}

.ttl-dept1 {
  text-align: center;
  margin-top: 117px;
}

.ttl-dept1 h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 54.208px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #002157;
}

.container-swiper {
  width: 1300px;
  padding: 40px 0;
  
}
.slide-container {
  overflow: hidden;
  margin-left: 130px;
  margin-top: 250px;

}

.card {
  background: #fff;
  border-radius: 20px;
  height: 139px;
  width: 403px;
}
.card .profile-details {
  display: flex;
  align-items: center;
  margin: 0px 10px 20px 34px;
}

.profile-details .name {
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 38px;
letter-spacing: 0.02em;
color: #011F6D;
}
.profile-details .job {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  line-height: 1.3;
  color: #000000;
margin-top: -25px;
margin-right: 20px;}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}


@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

.container-swiper {
  width: 1300px;
  /* padding: 40px 0; */
  
}
.slide-container {
  overflow: hidden;
  margin-left: 130px;
  margin-top: 80px;
}

.slide-container1 {
  overflow: hidden;
  margin-left: 130px;
  margin-top: 80px;
}

.card {
  background: #fff;
  border-radius: 20px;
  height: 139px;
  width: 403px;
  margin: 20px;
  box-shadow: 11.0989px 11.0989px 6.93681px rgba(0, 0, 0, 0.15);
}
.card .profile-details {
  display: flex;
  align-items: center;
  margin: 0px 10px 20px 34px;
}

.card1 {
  width: 1157px;
  height: 364px;
}

.name-job1 {
  background-color: #002157;
  position: absolute;
  width: 493px;
  height: 287px;
  border-radius: 10px;
  text-align: center;
}
.name-job1 img{
  width: 336px;
  height: 332px;
}
.profile-details .name {
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 38px;
letter-spacing: 0.02em;
margin-top: 10px;
color: #011F6D;
}
.profile-details .job {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  line-height: 1.3;
  color: #000000;
margin-top: 2px;
margin-right: 20px;}

.swiper-navBtn {
  color: #fff;
  height: 40px;
  width: 40px;
  background: #002157;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 1200px;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}


.dt-dept1 {
  margin-left: 225px;
  margin-top: 50px;
}

.dt-dept11 {
  width: 1010px;
  height: 594px;
  background: #FFFFFF;
  box-shadow: 11.0989px 11.0989px 6.93681px rgba(0, 0, 0, 0.15);
  border-radius: 13.8736px;
}

.dept-container {
  padding: 32px;
  margin-left: 195px;
}

.select-box {
  display: flex;
  width: 1010px;
  flex-direction: column;
}

.select-box .options-container {
  padding-top: 20px;
  background: #FFFFFF;
  min-height: 593px;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 11.0989px 11.0989px 6.93681px rgba(0, 0, 0, 0.15);
  border-radius: 13.8736px;
  order: 1;
}
.options-container img{
  position: absolute;
  /* z-index: -99; */
}
.options {
  width: 500px;
}
.selected {
  background: #011F6D;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  order: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 23.7312px;
  line-height: 36px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

.selected::after {
  content: "";
  background: url("./../Assets/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}
.option a {
  display: inline;
  background-color: #FF7F00;
  color: var(--main-color);
  text-align: center;
  text-decoration:solid;
  display: inline-block;
  width: 346.84px;
  height: 39.02px;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 23.1858px;
  line-height: 35px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}
.slide-content a:hover, a:active {
  background-color: var(--third-color);
}

.select-box .options-container.active {
  max-height: 523px;
  opacity: 1;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  background: #0d141f;
}


.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option a:hover {
  background: #e59c53;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.dept-col {
   display: flex;
   margin-left: 129px;
}
.bg-dep1 {
  position: absolute;
  left: 980px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}
/* departement */

/* nondept */

.swiper-navBtn1 {
  color: #fff;
  height: 40px;
  width: 40px;
  background: #FF7F00;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -120px;
}
.swiper-navBtn1::before,
.swiper-navBtn1::after {
  font-size: 18px;
}

.nondept-p {
    background-color: #ffffff;
    margin-top: -44px;
    text-align: left;
    padding-left: 23px;
    height: 77px;
    border-radius: 7px;
    display: flex;
    position: absolute;
    width: 493px;
  }

  .nondept-p h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17.2478px;
    line-height: 26px;
    letter-spacing: -0.015em;
    color: #000000;
    padding-top: 13px;
  }
  
  .nondept-p h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9359px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: -30px;
  }
  .nondept-p a {
    margin-top: 30px;
    margin-left: 150px;
  }
  .nondept-p i {
    color: #000;
    /* position: absolute; */
  }
  
.nondept-p1 {
  margin-left: 530px;
  padding-top: 55px;
  width: 630px;
}
.nondept-p1 h1 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;
letter-spacing: -0.015em;
color: #002157;
}
.nondept-p1 h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 29.568px;
  line-height: 41px;  
  letter-spacing: -0.015em;
  color: #354765;
}
.ttl-nondept {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 54.208px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #002157;
  margin-top: 30px;
}
.swiper-navBtn2 {
  color: #fff;
  height: 40px;
  width: 40px;
  background: #002157;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 350px;
}
.swiper-navBtn2::before,
.swiper-navBtn2::after {
  font-size: 18px;
}
.slide-container2 {
  overflow: hidden;
  margin-left: 130px;
  /* margin-top: 80px; */
}

/* nondept */
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }

  @media (max-width: 677px) {
    .hima-foto {
      height: 47%;
    }

    .data-nama {
      font-size: 13px;
    }

    .data-jumlah {
      font-size: 40px;
    }

    .data2 {
      margin-top: 25vh;
    }
  }

  /* logo himpunan */
  #logo-himpunan h2.logo-himpunan-title {
    font-size: 30px;
    line-height: 30px;
  }

  #logo-himpunan .lh-container .lh-logo {
    position: relative;
    text-align: center;
  }

  #logo-himpunan .lh-container .lh-logo img {
    width: 100%;
    height: 100%;
  }

  #logo-himpunan .lh-box {
    width: 100%;
  }

  .lh-layer1 {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .lh-layer2 {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .lh-layer3 {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 200px;
  }

  #logo-himpunan .lh-box.lh-box-1 {
    width: 100%;
  }

  #logo-himpunan .lh-box.lh-box-2 {
    width: 100%;
  }

  #logo-himpunan .lh-box.lh-box-3 {
    width: 100%;
    margin-top: 0;
  }

  #logo-himpunan .lh-box.lh-box-4 {
    width: 100%;
  }

  #logo-himpunan .lh-box.lh-box-5 {
    margin-top: 0;
  }

  #logo-himpunan .lh-box.lh-box-6 {
    width: 100%;
  }

  #logo-himpunan .lh-box.lh-box-7 {
    width: 100%;
  }
}

.dark {
  background-color: #2C3333 !important;
}

.dark .offcanvas-body {
  background-color: #2C3333 !important;
}

.dark .offcanvas {
  background-color: #2C3333 !important;
}

.dark .offcanvas-body {
  background-color: #1B2020 !important;
}

.dark .gif {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.dark .apaituhimsi {
  background-color: #2C3333 !important;
}

.dark .paragraf-m {
  color: #fff !important;
}

.dark .paragraf-v {
  color: #fff !important;
}

.dark .gif {
  background: linear-gradient(360deg, #000917 0%, rgba(217, 217, 217, 0) 100%),
    url('./../Assets/gif2.gif');
}

.dark .video {
  color: #FF7F00;
}

.dark .welcome {
  color: #fff;
}

.dark .logo-himpunan-title {
  color: #FF7F00 !important;
}

.dark .judul-content {
  color: #FF7F00 !important;
}

.dark .title-dept {
  color: #FF7F00 !important;
}

.dark .dept-name {
  color: #000 !important;
}

.dark .text-dept {
  color: #FF7F00 !important;
}

.dark .data {
  background-color: #353F3F;
}

.dark #nvb {
  background-color: #1B2020 !important;
}

.dark .nav-link {
  color: #FFF !important;
}

.dark .hima-logo {
  opacity: 0;
}

.dark .hima-logo-dark {
  opacity: 1;
}

.dark .footer {
  background-color: #1B2020;
}

.row {
  display: inline;
  flex-wrap: wrap;
}

.dark .lh-box {
  background-color: transparent !important;
  color: #fff;
  border: solid 1px #fff;
}

.dark .order h6 {
  color: rgba(255, 255, 255, 0.12) !important;
}

.footer ul li {
  list-style: none;
}

.footer {
  background-color: #002157;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  padding-top: 50px;
  padding-right: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -10px 20px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px -10px 20px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -10px 20px 1px rgba(0, 0, 0, 0.5);
}

.col h4 {
  font-size: 15px;
  color: #ff7f00;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  position: right;
}

.col p {
  color: hsl(215, 55%, 21%);
  margin-left: 30;
}

.col {
  border-radius: 4px solid white;
  text-align: left;
  display: grid;
  align-items: center;
}

iframe {
  border-radius: 30px;
}

.medsos {
  /* text-align: justify; */
  /* margin-left: 83px; */
  width: 100%;
}

.col .medsos a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.col .medsos a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.col #temukan li {
  color: #ff7f00;
  display: flex;
}

.col #temukan li i {
  padding-right: 10px;
}


.fixed-footer {
  text-align: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 13px;
}

#sejarah {
  margin-bottom: 100px;
}
#sejarah h2.sejarah-title {
  color: #011F6D ;
  font-weight: 700;
  font-size: 64px;
  line-height: 92px;
  text-align: center;
  margin-bottom: 56px;
}
#sejarah .sliders-container {
  /* height: 645px; */
  /* border-left: 3px solid #D6D6D6;
    padding-left: 20px; */
  /* margin-left: 20px; */
  position: relative;
}
#sejarah .sliders-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #d6d6d6;
  left: 17px;
  top: 0;
  z-index: -99;
}
#sejarah .slider-box {
  display: flex;
  margin-bottom: 2rem;
}
#sejarah .slider-icon {
  /* width: 50px;
    height: 50px; */
  background-color: #ff7f00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  align-self: self-start;
  padding: 10px;
  margin-right: 30px;
  font-size: 20px;
}
#sejarah .slider-content {
  background-color: #fff;
  border-radius: 7px;
  padding: 31px 34px;
  width: 95%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
#sejarah .slider-content::before {
  content: "";
  position: absolute;
  border: medium solid white;
  border-width: 15px 15px 15px 0;
  border-color: transparent white transparent transparent;
  top: 7px;
  left: -15px;
}
#sejarah .slider-content h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--text-blue-main);
  margin-bottom: 11px;
}
#sejarah .slider-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: justify;
}

.container .d-flex .content_berita {
  background-color: #f2f4f7;
  border: 1px solid #667085;
  border-radius: 8px;
  width: 900px;
  height: 450px;
}

.container .d-flex .content_berita2 {
  background-color: #f2f4f7;
  border: 1px solid #667085;
  border-radius: 8px;
  width: 280px;
  height: 190px;
  margin: 50px 0px 0px 0px;
}


