@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
    position: absolute;
    width: 100%;
}

/* .jumbotron div {
    background-image: url(./../Assets/himagif.gif);
    position: absolute;
    width: 100%;
    height: 100%;
} */

.jumbotron h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.jumbotron p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.jumbotron .logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron .gif {
    opacity: 80% !important;
    background-image: linear-gradient(360deg, #002157 0%, rgba(217, 217, 217, 0) 100%), 
    url('./../Assets/gif2.gif');
    width: 100% !important;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .logo .logo-himsifor {
    width: 87px;
    height: 87px;
}

.jumbotron .logo .logo-fmipa {
    width: 83px;
    height: 83px;
}

.jumbotron .logo .logo-unsrat {
    width: 83px;
    height: 83px;
}

.explore {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px !important;
    border: none !important;
    height: 46px !important;
    background-color: #152A57 !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    text-align: center;
    border-radius: 100px !important;
}

.dropdown-item:hover {
    background-color: #FF7F00 !important;
    color: #fff !important;
}

.cari {
    border: 1px solid #002157 !important;
}

.cari:hover {
    background-color: #FF7F00 !important;
    color: #fff !important;
    border: none !important;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    margin: 0px 15px 0px 0px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }