@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ECF2FE !important;
}

.shape {
  position: absolute;

}

 #image  {
  background-color: #032156;
  mix-blend-mode: normal;
  border-radius: 0px 50px 50px 0px;
}

form {
  width: 100%;
  margin: auto;
  border: none;
  padding: 20px;
  border-radius: 10px;
}


.wrapper form h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #002157;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid #000;
  border-radius: 7px;
  transition: all 0.3s ease;
  background-color: #ECF2FE !important;
}
.wrapper form .field select{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid #000;
  border-radius: 7px;
  transition: all 0.3s ease;
  background-color: #ECF2FE !important;
}

.wrapper form .field input:focus,
form .field input:valid {
  border-color: #234cad;
}
.wrapper form .field select:focus,
form .field input:valid {
  border-color: #234cad !important;
}


.wrapper form .field label {
  position: absolute;
  top: 63%;
  left: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #002157;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus~label,
form .field input:valid~label {
  top: 0%;
  font-size: 16px;
  color: #234cad;
  background: #ECF2FE;
  transform: translateY(-50%);
}

form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

form .content input {
  width: 15px;
  height: 15px;
  background: red;
}

form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .content .pass-link {
  color: "";
}



input[type=text],
input[type=email],
input[type=date],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.bulat {
  width: 32.56px;
height: 32.56px;
border-radius: 50%;
background-color: #002157;
}

.text-center{
  font-style: normal;
font-weight: 700;
font-size: 15.6279px;
line-height: 16px;
/* identical to box height, or 100% */

font-feature-settings: 'pnum' on, 'lnum' on;

color: #002157;
}

button {
  width: 100%;
  height: 40px;
  /* border: none; */
  background: #FF8C1A !important;
  border-radius: 10px !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px !important;
  text-align: center;
  color: #FFFFFF !important;
}

button:hover {
  background-color: #45a049;
}